/* :root{
    --lightBgColor:#F7F7F7;
    --primaryTextColor:#0B0729;
    --secondaryTextColor:rgb(35, 34, 92);
    --darkColor:#fff;
    --navFootBg:#0B0729;
    --navFootText:#fff;
} */
main{
    padding: 0px 30px;
    display: grid;
    grid-template-columns: repeat(2,minmax(300px,1fr));
    justify-content: center;
    align-content: center;
    gap: 10px;
    height: 100vh;
    background-color: var(--darkColor);
    color: var(--primaryTextColor);
}
.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.title{
    color: var(--primaryTextColor);
    font-size: 32px;
}
.homeDescription p{
    color: var(--primaryTextColor);
    font-size: 18px;
}
.exploreButton{
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: var(--primaryTextColor);
    color: var(--darkColor);
    padding: 9px;
    border-radius: 20px;
    cursor: pointer;
}
.explore{
    border: none;
    background-color: var(--primaryTextColor);
    color: var(--darkColor);
    font-size: 16px;
    cursor: pointer;
}
.exploreLink{
    text-decoration: none;
    color: var(--darkColor);
}
.exploreIcons{
    color: var(--darkColor);
    font-size: 16px;
}
.imageSection{
    display: flex;
    justify-content: center;
}
.heroSectionImage{
    max-width: 80%;
    height: auto;
    border-radius: 11px;
}

@media (max-width:768px){
    main{
        display: grid;
        grid-template-columns: minmax(300px,500px);
        gap: 30px;
        height: auto;
        padding: 50px 30px;
    }
    .explore{
        font-size: 14px;
    }
}