.asideNavbar{
    display:grid;
    grid-template-columns: minmax(200px,250px);
    justify-content: flex-start;
    align-content: flex-start;
    gap: 40px;
    background-color:var(--darkColor);
    color: var(--primaryTextColor);
    padding: 35px 25px;
    height: 100%;
    box-shadow: 5px 0px 5px -3px var(--shadow-color);
}
.sideBarLogo h2{
    text-align: center;
    font-size: 33px;
}
.sideBarLists{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.sideBarLists li,.sideNavLists{
    text-decoration: none;
    list-style: none;
    color: var(--primaryTextColor);
    font-size: 18px;
    font-weight: lighter;
    transition: color 0.2s ease;
}
.sideNavLists:hover{
    opacity: 0.5;
    cursor: pointer;
}
.itsClicked{
    text-decoration: none;
    list-style: none;
    color: var(--primaryTextColor);
    font-size: 18px;
    font-weight: lighter;
    transition: color 0.2s ease;
    text-decoration: solid;
}