
/* :root{
    --lightBgColor:#F7F7F7;
    --primaryTextColor:#0B0729;
    --secondaryTextColor:rgb(35, 34, 92);
    --darkColor:#fff;
    --navFootBg:#0B0729;
    --navFootText:#fff;
} */
.glassWholeSection{
    display: grid;
    grid-template-columns: minmax(250px,275px) minmax(350px,1fr);
    gap: 25px;
}
.glassPreviewCustomize{
    display: grid;
    grid-template-columns: minmax(350px,375px) minmax(275px,310px);
    justify-content: center;
    padding: 40px 20px;
    gap: 50px;
}
.previewCode{
    background-color: var(--lightBgColor);
    padding: 15px;
    border-radius: 10px;
}

.previewBackground{
    background-image: url('../../assets/pexels-samkolder-2387873.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 9px;
}
.preCard{
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
}
/* .preCard h2{
    color: var(--darkTextColor);
} */
.previewImage{
    width: 50px;
    border-radius: 50px;
}
.rangeInputs{
    outline: none;
    width: 275px;
    cursor: ew-resize;
    accent-color: var(--primaryTextColor);
}
.codesMorphism {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    color: var(--primaryTextColor);
    margin: 15px 0px 0px 0px;
    padding: 0px 10px 10px 0px;
    border-radius: 6px;
    background-color: var(--darkColor);

}
.codesMorphism pre{
    word-spacing: normal;
    overflow: auto;
    height: 170px;
    padding: 10px;
}
.copyMessageSection{
    height: 20px;
}
.codeCopied{
    color: var(--primaryTextColor);
    background-color: var(--lightBgColor);
    padding: 2px;
    border-radius: 5px;
    margin: 0px 5px;
    font-size: 15px;
    width: fit-content;
    margin-left: 10px;
  
}
.notCopied{
    color: var(--primaryTextColor);
    cursor: pointer;
    font-size: 15px;
     margin:5px 0px 0px 10px;
   
}
.glassDivisions{
    display: flex;
    align-items: center;
    gap: 5px;
}
.glassDivisionsbutton{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--primaryTextColor);
    margin-bottom: 5px;
}
.glassDivisionsbutton:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.glassDivisionClicked{
    background-color: var(--lightBgColor);
    opacity: 1;
    border: none;
    outline: none;
    color: var(--primaryTextColor);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.morphismCustomize{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.picker-wrapper .react-colorful__interactive{
    width: 275px;
    height: auto;
}
.picker-wrapper .react-colorful__saturation{
   height: auto;
   width: 275px;
   border-radius: 20px;
}
.picker-wrapper .react-colorful__hue {
  height: 18px;
  margin-top: 7px;
  border-radius: 10px;
  width: 275px;
}
.picker-wrapper  .react-colorful__saturation-pointer{
    cursor: grab;
}
.picker-wrapper .react-colorful__pointer{
    cursor: grab;
} 
.glassLabels{
    color: var(--primaryTextColor);
    font-size: 17px;
    margin-bottom: 3px;
    display: block;
}
.colorpickerGM{
    margin-left: 18px;
}
.gmColorInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hexDisplayInput{
    border: none;
    background-color: var(--lightBgColor);
    color: var(--primaryTextColor);
    height: 40px;
    width: 275px;
    font-size: 16px;
    border-radius: 10px;
    padding-inline: 10px;
    outline: none;
}
.rgbaDisplayInput{
    background-color: var(--lightBgColor);
    color: var(--primaryTextColor);
    border-radius: 10px;
    width: 275px;
    padding: 10px;
    height: 40px;
}

@media (max-width:1024px){
   .glassWholeSection{
    display: grid;
    grid-template-columns: minmax(250px,300px) minmax(350px,1fr);
   } 
   .glassPreviewCustomize{
    display: grid;
    grid-template-columns: minmax(300px,500px);
   }
   .codesMorphism{
       background-color: var(--darkColor);
   }
   .morphismCustomize{
    align-items: center;
    padding-bottom: 10px;
   }
}
@media (max-width:768px){
   
    .glassWholeSection{
    display: grid;
    grid-template-columns: minmax(200px,225px) minmax(350px,1fr);
    justify-content: flex-start;
    gap: 15px;
   } 
   .glassPreviewCustomize{
    display: grid;
    grid-template-columns: minmax(340px,1fr);
    justify-content: center;
   }
   .picker-wrapper .react-colorful__interactive{
    width: 300px;
    height: auto;
}
.picker-wrapper .react-colorful__saturation{
   height: auto;
   width: 300px;
   border-radius: 20px;
}
.picker-wrapper .react-colorful__hue {
  height: 18px;
  margin-top: 7px;
  border-radius: 10px;
  width: 300px;
}
.previewCode{
    justify-content: center;
    padding: 10px;
}
.codesMorphism{
       background-color: var(--darkColor);
   }
   .previewBackground{
    padding: 15px;
   }
}
@media (max-width:600px){
     .glassSidebar{
        display: none;
    }
    .glassWholeSection{
    display: grid;
    grid-template-columns: minmax(300px,500px);
    justify-content: center;
    gap: 0px;
   } 
   .glassPreviewCustomize{
    display: grid;
    grid-template-columns: minmax(300px,500px);
    justify-content: center;
    padding: 40px 0px;
    margin: 7px;
   }  
   .previewCode{
    justify-content: center;
    }
   .morphismCustomize{
    justify-content: center;
    align-items: center;
   }
   .previewBackground{
    padding: 10px;
   } 
   .codesMorphism pre{
    text-wrap: wrap;
   }
   .codesMorphism{
       background-color: var(--darkColor);
   }
}

@media (max-width:375px){
    .glassPreviewCustomize{
    display: grid;
    grid-template-columns: minmax(300px,1fr);
    justify-content: center;
    padding: 40px 5px;
    margin: 4px;
   } 
      .picker-wrapper .react-colorful__interactive{
    width: 275px;
    height: auto;
    }
    .picker-wrapper .react-colorful__saturation{
    height: auto;
    width: 275px;
    border-radius: 20px;
    }
    .picker-wrapper .react-colorful__hue {
    height: 18px;
    margin-top: 7px;
    border-radius: 10px;
    width: 275px;
    }
    .codesMorphism{
       background-color: var(--darkColor);
   }

}

